@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$primary-color: #00c0ee;
$black-color: #000000;
$grey-dark-color: rgba(0, 0, 0, 0.5);
$grey-light-color: #666666;
$white-color: #ffffff;
$font-default: "Open Sans";

.header {
  border-bottom: 2px solid #c7c7c7;
  width: 100%;

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 162px;
  }

  &__img_logo {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 119px;
    height: 30px;
  }

  &__img_bag {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 17px;
    height: 20px;
  }

  &__btn_bag {
    border: none;
    background-color: $white-color;

    &:hover {
      opacity: 0.3;
      cursor: pointer;
    }
  }

  &__btn_amount {
    border-radius: 30%;
    border: solid 2px #c7c7c7;

    &:hover {

      cursor: pointer;
    }
  }

  &__img_amount {
    width: 10px;
    height: 10px;
  }

  &__amountItems {
    font-size: 15px;

    color: $grey-light-color;
    bottom: 0;
  }

  &__cart {
    margin: 50px 165px 20px 0;
    position: absolute;
    right: 0;
    background-color: $white-color;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 25;
  }

  &__total_purchases {
    margin: 28px 165px 20px 0;
    width: 7px;
    height: 12px;
    position: absolute;
    padding: 1px 3px;
    right: 0;
    font-size: 10px;
    text-align: center;
    border-radius: 16px;
    color: $white-color;
    background-color: $primary-color;
  }

  &__img_item_cart {
    background-repeat: repeat;
    height: 90px;
    border-radius: 4px;
    margin: auto;
    padding: 5px 20px;
  }

  &__item_description_cart {
    margin: auto auto;
  }


  &__remover-item-cart {
    font-size: 12px;
    line-height: 12px;
    color: $grey-light-color;
    bottom: 0;
  }

  &__view_cart {
    margin-bottom: 5px;
    background-color: $white-color;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    border: solid 2px #c7c7c7;
  }
}

body {
  font-family: $font-default, sans-serif;
  background-color: $white-color;
}


.content {
  display: flex;
  flex-direction: column;
  margin: 0 162px;

  &__subheader {
    display: flex;
    justify-content: space-between;
  }

  &__subcontent {
    display: flex;
    flex-direction: row;
  }

  &__sidebar {
    min-width: 176px;
    max-width: 176px;
    width: 100%;

    &__sizes {
      display: flex;
      flex-wrap: wrap;
    }

    &__checkbox {
      position: relative;
      padding: 10px 0 10px 40px;
      text-align: left;

      label {
        cursor: pointer;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 55%;
        }

        &:before {
          left: 2px;
          width: 20px;
          height: 20px;
          margin: -15px 0 0;
          background: $white-color;
          box-shadow: 0 0 1px grey;
          border: 1px solid $grey-dark-color;
        }

        &:after {
          left: 5px;
          width: 16px;
          height: 16px;
          margin: -12px 0 0;
          opacity: 0;
          background: $primary-color;
          transform: translate3d(-40px, 0, 0) scale(0.5);
          transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        }
      }

      input[type="radio"],
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: -9999px;
        visibility: hidden;

        &:checked+label {
          &:after {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }
      }
    }

    &__link_see_all_colors {
      font-size: 12px;
      line-height: 12px;
      color: $grey-light-color;
    }

    &__checkbox_sizes {
      label {
        display: block;
        border: 1px solid $grey-dark-color;
        width: 32px;
        height: 32px;
        color: $grey-light-color;
        margin: 0 8px 8px 0;
        text-align: center;
        line-height: 32px;
      }

      label:hover {
        cursor: pointer;
      }

      input[type="checkbox"] {
        display: none;
      }

      input:checked+label {
        color: $black-color;
        font-weight: 600;
      }
    }
  }

  &__sidebar_title {
    margin-top: 40px;
    margin-bottom: 64.96px;
    font-size: 32px;
    line-height: 44px;
    color: #333333;
  }

  &__sidebar_title_colors {
    margin-bottom: 14.4px;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 5%;
    color: #333333;
  }

  &__sidebar_title_sizes {
    margin-top: 24px;
    margin-bottom: 14.4px;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 5%;
    color: #333333;
  }

  &__sidebar_subtitles {
    font-size: 14px;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;


    &__select_orderby {
      position: relative;
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 64.96px;
      right: 0;
    }

    &__btn_select_oderby {
      display: block;
      font-size: 16px;
      line-height: 21.79px;
      background-color: $white-color;
      height: 42px;
      border: 1px solid $grey-dark-color;
      width: 142px;

      &:hover {
        cursor: pointer;
      }
    }


    &__mobile_buttons {
      display: none;
      justify-content: space-around;
      width: 343px;
      height: 50px;
      box-sizing: border-box;
      border: 1px solid $grey-dark-color
    }

    &__btn_filter {
      margin-left: 49px;
      border: none;
      font-size: 24px;
      line-height: 32.68px;
      color: $grey-dark-color;
    }

    &__btn_order {
      margin-right: 22px;
      border: none;
      font-size: 24px;
      line-height: 32.68px;
      color: $grey-dark-color;
    }

    &__select_oderby_content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 140px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border: 1px solid $grey-dark-color;
      z-index: 1;
    }

    &__select_oderby_content a {
      font-size: 16px;
      line-height: 21.79px;
      color: $black-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    &__select_oderby_content a:hover {
      background-color: $primary-color;
      color: $white-color;
      cursor: pointer;
    }

    .select-show {
      display: block;
    }

    &__products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }

    &__grid_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 42px;
      column-gap: 64.75px;
    }

    &__product {
      text-align: center;
    }

    &__img_product {
      height: 293px;
      width: 195px;
    }

    &__product_title {
      font-size: 14px;
      line-height: 19.07px;
      text-transform: uppercase;
    }

    &__product_price {
      font-weight: 700;
      font-size: 16px;
      line-height: 21.79px;
    }

    &__product_subdivision {
      font-size: 16px;
      line-height: 21.79px;
      color: $grey-light-color;
    }

    &__btn_purchase {
      text-transform: uppercase;
      background-color: $black-color;
      color: $white-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      width: 195px;
      height: 33px;

      &:hover {
        border: none;
        transition: 0.5s;
        opacity: 0.5;
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    &__btn_load_more {
      width: 175px;
      height: 35px;
      background-color: $primary-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 19.07px;
      color: $white-color;
      text-transform: uppercase;
      border: none;
      margin-top: 75px;
      margin-left: 210px;

      &:hover {
        cursor: pointer;
        transition: 0.5s;
        opacity: 0.3;
        transform: scale(1.1);
      }
    }
  }
}

.footer {
  margin-top: 43px;
  width: 100%;
  height: 33px;
  bottom: 0;
  background-color: $black-color;

  &__text_footer {
    text-transform: uppercase;
    color: $white-color;
    font-size: 14px;
    line-height: 19.07px;
    text-align: center;
    padding-top: 7px;
  }

}




@media (max-width:1300px) {


  .header {
    &__items {
      margin: 0 27px;
    }

    &__cart {
      margin: 50px 27px 20px 0;
    }

    &__total_purchases {
      margin: 28px 29px 20px 0;
    }
  }

  .mobile_hide{
    display: none;
  }
  .content {
    margin: 0 auto;

    &__subheader {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 34px;
    }



    &__sidebar {
      display: none;
      pointer-events: none;
    }



    &__sidebar_title {
      margin-top: 24px;
      margin-bottom: 12px;
      text-align: center;
    }

    &__container {

      &__mobile_buttons {
        display: flex;
      }

      &__subheader_items {
        border-bottom: 1px solid $grey-dark-color;
        margin-top: 24px;
        width: 49px;
        height: 0;
        transform: rotate(90deg);
      }

      &__btn_select_oderby {
        display: none;
        position: absolute;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
      }

      &__select_oderby_content {
        display: none;
        position: absolute;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
      }

      &__select_orderby {
        display: none;
      }

      &__grid_container {
        padding: 0;
      }

      &__btn_load_more {
        margin: 0 auto;
        margin-top: 38px;
      }
    }
  }

  .footer {
    width: 103%;
  }
}

@media (max-width:900px) {
  .content {
    &__container {
      &__img_product {
        width: 161.79px;
        height: 242.55px;
      }

      &__btn_purchase {
        width: 162px;
        height: 33px;
      }
    }
  }
}

@media (max-width:768px) {
  .content {
    &__container {
      &__grid_container {
        column-gap: 19px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}