@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* HEADER*/
.header {
  border-bottom: 2px solid #c7c7c7;
}

.header_itens {
  display: flex;
  justify-content: space-between;
  margin: 0 320px 0 320px;
}

.image_logo {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 119px;
  height: 30px;
}

.image_sacola {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 17px;
  height: 20px;
}

.btn_sacola {
  border: none;
  background-color: white;
}

.btn_sacola:hover {
  opacity: 0.3;
  cursor: pointer;
}

/*BODY*/

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
}
.content {
  display: flex;
  margin: 0 320px 0 320px;
}





.selectOrdenarPor {
  position: absolute;
  font-size: 16px;
  line-height: 21.79px;
  margin-top: 40px;
  margin-bottom: 64.96px;
  right: 0;
  margin-right: 320px;
  background-color: #ffffff;
  height: 42px;
  width: 142px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  option{
    width: 142px;
  }
}


.sidebar {
  min-width: 176px;
  max-width: 176px;
  width: 100%;
}

.sidebar_title {
  margin-top: 40px;
  margin-bottom: 64.96px;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.sidebar_title_cores {
  margin-bottom: 14.4px;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 5%;
  color: #333333;
}

.sidebar_title_tamanhos {
  margin-top: 24px;
  margin-bottom: 14.4px;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 5%;
  color: #333333;
}

.sidebar_subtitles {
  font-size: 14px;
}


.checkbox {
  position: relative;
  padding: 10px 0 10px 40px;
  text-align: left;
  label {
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 55%;
    }
    &:before {
      left: 2px;
      width: 20px;
      height: 20px;
      margin: -15px 0 0;
      background: #ffffff;
      box-shadow: 0 0 1px grey;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
    &:after {
      left: 5px;
      width: 16px;
      height: 16px;
      margin: -12px 0 0;
      opacity: 0;
      background: #00c0ee;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;

    &:checked + label {
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}



.tamanhos {
  display: flex;
  flex-wrap: wrap;
}

.caixa_tamanhos {
  color: #666666;
  font-size: 16px;
  text-transform: uppercase;
  width: 32px;
  height: 32px;
  right: 5px;
  margin: 0 8px 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  &:hover {
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.tamanho_active {
  color: #000000;
}

.letras_tamanhos {
  margin: 8px 0 0 10px;
}

.letras_tamanhosGG {
  margin: 8px 0 0 5px;
}

.letras_tamanhosNum {
  margin: 8px 0 0 7px;
}


.color_link {
  font-size: 12px;
  line-height: 12px;
  color: #666666;
}

.badge {
  display: inline-block;
  padding: 4px 6.4px;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
  border-radius: 12.8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-danger {
  color: #fff;
  background-color: #00c0ee;
}

/*
.navbar-badge {
  
  
  
 
}
*/

.grid_container {
  display: grid;
  padding: 144px 144px 0 183px;
  grid-template-columns: repeat(3,1fr);
  row-gap: 42px;
  column-gap: 64.75px;
}

.img_produto {
  height: 293px;
  width: 195px;
}

.produto{
  text-align: center;
}

.produto_title{
  font-size: 14px;
  line-height: 19.07px;
  text-transform: uppercase;
}

.produto_preco{
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
}

.produto_parcelamento{
  font-size: 16px;
  line-height: 21.79px;
  color: #666666;
}

.btn_comprar{
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  width: 195px;
  height: 33px;
  &:hover{
    border: none;
    transition: 0.5s;
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
  }
}


.btn_carregarMais{
  width: 175px;
  height: 35px;
  background-color: #00c0ee;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  margin: 81px 0 43px 920px;
  &:hover{
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.3;
    transform: scale(1.1);
    
  }
}

.footer{
  width: 100%;
  height: 33px;
  bottom: 0;
  background-color: #000000;
}

.text_footer{
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19.07px;
  text-align: center;
  padding-top: 7px;
}